<!-- _header.html.erb-->
<!-- Written by Petar Zdravkov pz00073-->

<!-- Header class containg main navigation through website.-->
<header class="navbar navbar-fixed-top navbar-inverse">

      <div class="container-fluid">

	<%= link_to t('global.logo'), root_path, id: "logo" %>

	<nav>
	  <ul class="nav navbar-nav navbar-right">
	    <% if signed_in? %>
			 <li><%= link_to t('global.home'), current_user %></li>
			 <li><%= link_to t('global.help'), help_path %></li>	    		
          <li><%= link_to "My Library", library_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Sign out", signout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
        			<li><%= link_to t('global.home'), root_path %></li>
        			<li><%= link_to t('global.help'), help_path %></li>
          	   <li><%= link_to t('global.log'), signin_path, class: "glyphicon glyphicon-log-in" %></li>
        <% end %>

	  </ul>
	</nav>
      </div>
    </header>
